<Dialog @ref="dialog">
    <Header>@CONFIG</Header>
    <Body>
        <div class="fieldset">
            <label>@UXM_SELECTIVE_UNPACK</label>
            <input @bind="app.config.uxmSelectiveUnpackExe" @bind:event="oninput" />
        </div>
        <div class="fieldset">
            <label>@DS_MAP_STUDIO</label>
            <input @bind="app.config.dsMapStudioExe" @bind:event="oninput" />
        </div>
        <div class="fieldset">
            <label>@YABBER</label>
            <input @bind="app.config.yabberExe" @bind:event="oninput" />
        </div>
        <div class="fieldset">
            <label>@YABBER_DCX</label>
            <input @bind="app.config.yabberDcxExe" @bind:event="oninput" />
        </div>
    </Body>
    <Footer>
        <Button onClick="OnSubmit" styleClass="button-3 button-primary button-caps">
            @SAVE
        </Button>
        <Button onClick="OnCancel" styleClass="button-3 button-normal button-caps">
            @CANCEL
        </Button>
    </Footer>
</Dialog>

@code {

    [CascadingParameter] public App app { get; set; }

    Dialog dialog;

    public void Show()
    {
        dialog.visible = true;
    }

    void OnSubmit()
    {
        app.config.Save();

        dialog.visible = false;
    }

    void OnCancel()
    {
        dialog.visible = false;
    }

}