<Dialog @ref="dialog">
    <Header>@CONFIG</Header>
    <Body>
        <div class="fieldset">
            <label>@UXM_SELECTIVE_UNPACK</label>
            <input @bind="app.config.uxmSelectiveUnpackExe" @bind:event="oninput" />
        </div>
        <div class="fieldset">
            <label>@DS_MAP_STUDIO</label>
            <input @bind="app.config.dsMapStudioExe" @bind:event="oninput" />
        </div>
        <div class="fieldset">
            <label>@YABBER</label>
            <input @bind="app.config.yabberExe" @bind:event="oninput" />
        </div>
        <div class="fieldset">
            <label>@YABBER_DCX</label>
            <input @bind="app.config.yabberDcxExe" @bind:event="oninput" />
        </div>
        <div flex-horizontal>
            <Button onClickAsync="ChangeLanguage_OnClick">
                @CHANGE_LANGUAGE
            </Button>
        </div>
    </Body>
    <Footer>
        <Button onClick="OnSubmit" styleClass="@Button.StyleClass.Primary(3, caps: true)">
            @SAVE
        </Button>
        <Button onClick="OnCancel" styleClass="@Button.StyleClass.Normal(3, caps: true)">
            @CANCEL
        </Button>
    </Footer>
</Dialog>

@code {

    [CascadingParameter] public App app { get; set; }

    Dialog dialog;

    public void Show()
    {
        dialog.visible = true;
    }

    void OnSubmit()
    {
        app.config.Save();

        dialog.visible = false;
    }

    void OnCancel()
    {
        dialog.visible = false;
    }

    async Task ChangeLanguage_OnClick()
    {
        try
        {
            if (Lang.ENGLISH_NAME != Lang.ENGLISH)
                Utils.ChangeLanguage(Lang.ENGLISH);
            else
                Utils.ChangeToSystemLanguage();
        }
        catch (Exception ex)
        {
            await Message.CreateError(ex.Message).ShowAsync();
        }
        app.Render();
    }


}